name: nothing_glyph_interface
description: "Plugin to control the glyph interface of Nothing Phones for Flutter Android applications."
version: 0.0.4
homepage: https://github.com/JayKay135/flutter-nothing-glyph-interface

environment:
  sdk: ">=3.2.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.JayKayCooperations.nothing_glyph_interface
        pluginClass: NothingGlyphInterfacePlugin

topics:
  - glyph
  - nothing
