<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.JayKayCooperations.nothing_glyph_interface">
  <uses-permission android:name="com.nothing.ketchum.permission.ENABLE" />
  <application android:enableOnBackInvokedCallback="true">
    <meta-data android:name="NothingKey" android:value="test" />
  </application>
</manifest>